<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div>
        <input type="radio" id="hide" name="admin" value="hide" checked />
        <label for="hide">User</label>
        <input type="radio" id="show" name="admin" value="show" />
        <label for="show">Admin</label>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/productos">Productos</a>
                    </li>
                    <li class="nav-item edit" style="display: none;">
                        <a class="nav-link" href="/productos/add">addProductos</a>
                    </li>

                </ul>
                <span class="navbar-text">
                    <a href="/carrito">Cart</a>
                </span>
            </div>
        </div>
    </nav>
    <div class="container m-5">
        <div class="row text-center">
            <% result.forEach(element=> { %>
                <div class="card" style="width: 18rem;">
                    <img src="<%= element.thumbnail %>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= element.title %>
                        </h5>
                        <p class="card-text">$ <%= element.price %>
                        </p>
                        <div class="edit" style="display: none;">
                            <a class="btn btn-primary" href="/productos/edit/<%= element.id %>">edit</a>
                            <a class="btn btn-primary" data-id="<%= element.id %>" id="del">delete</a>
                            <a data-id="<%= element.id %>" class="Max add btn-primary">Add ></a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <script>
        function handleRadioClick() {
            if (document.getElementById('show').checked) {
                $(".edit").show();
            } else {
                $(".edit").hide();
            }
        };

        const radioButtons = document.querySelectorAll('input[name="admin"]');
        radioButtons.forEach(radio => {
            radio.addEventListener('click', handleRadioClick);
        });


        document.addEventListener("click", myFunction);

        function myFunction() {
            const adds = document.getElementsByClassName('Max');
            for (const btn of adds) {
                btn.onclick = (e) => {
                    const id = e.target.getAttribute('data-id')
                    console.log("A guardar el id ", id)
                    e.preventDefault();
                    console.log(e)
                    fetch('/cart/:id/products', {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ id })
                    })
                        .then(response => {
                            console.log(response)
                        })
                        .catch(e => alert(e))
                }
            }
        }


        const DEL = document.getElementById('del')

        DEL.onclick = e => {
            const id = e.target.getAttribute('data-id')
            console.log("A borrar el id ", id)
            console.log(e)
            e.preventDefault();
            fetch('/' + id, {
                method: 'DELETE',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    console.log(response)
                })
                .then(data => {
                    window.location = '/productos';
                })
                .catch(e => alert(e))
        }

    </script>



</body>

</html>